
.App-header {
  min-width: 100vw;
  min-height: 32vh;
  border: 1px solid #F7B733;
  background-color: #4ABDAC;
}

.App-link {
  color: #61dafb;
}

.App-list {
  width: 100vw;
  border: 1px solid yellow;
  margin-top: 0.5em;
}

.App-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid red;
}

.App-list-item-button {
  background-color: transparent;
  border: none;
  color: lightblue;
  font-size: 0.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}