.App-Header {
  text-align: center;
  background-color: #4ABDAC;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vh;
  pointer-events: none;
}

.App-Visual {
  min-width: 100vw;
  min-height: 102vh;
  border: 1px solid #F7B733;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4ABDAC;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-list {
  width: 100vw;
  border: 1px solid yellow;
  margin-top: 0.5em;
}

.App-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid red;
}

.App-list-item-button {
  background-color: transparent;
  border: none;
  color: lightblue;
  font-size: 0.5em;
}

.modal {
  font-size: 12px;
  background-color: white;
  padding: 30px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}